<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeReader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D350BDF21C2F4A2C00BDE821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D350BE061C2F4A2C00BDE821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D350BE111C2F4A2C00BDE821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
